@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    color: azure;
    background-color: rgb(0, 0, 0);
}

#underline {
    color: azure;
    position: relative;
}

#underline:hover {
    color: azure;
}

.line a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ba2222;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.line a:hover:after {
    width: 100%;
    left: 0;
}

.navbar-toggler {
    color: rgb(0 0 0);
}

.banner {
    background-color: black;
}
.navbar-brand{
    margin-left: -16px;
}

.row {
    margin: 0px;
}

#cl {
    background-image: url(./images/thezze.png);
    background-repeat:no-repeat ;
    height: 456px;
    width: 464px;
}

#col {
    padding-left: 100px;
    padding-top: 80px;
}

.text {
    margin-top: 20px;
}

.text-1 {
    font-size: 27px;
}

.text-2 {
    font-size: 75px;
    font-weight: 600;
}

.text-3 {
    font-size: 40px;
}

.text-3 span {
    color: #5CBB81;
}
span1{
    color: gray;
}

.social a {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    font-size: 17px;
    color: azure;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 20px;
    margin-top: 20px;
}

.social a:hover {
    transform: scale(1.1);
    background-color: #5CBB81;
    transition: 1s;
}

#col button {
    color: azure;
    background-color: #ba2222;
    margin-top: 20px;
    width: 25%;
    height: 50px;
}

#col button:hover {
    color: azure;
    background-color: #e53939;
}

.about,
.skills,
.contact {
    color: azure;
}

h1 {
    text-decoration: underline #5CBB81 3px;
    text-underline-offset: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.about button {
    color: azure;
    background-color: #5CBB81;
    margin-top: 20px;
    width: 15%;
    height: 50px;
}

.about button:hover {
    color: azure;
    background-color: #1f7a42;
}

.services {
    background-color: black;
    color: azure;
}

.progress-bar {
    background-color: #5CBB81;
}

.portfolio {
    background-color: black;
}

.portfolio button {
    color: azure;
    background-color: #5CBB81;
    margin-top: 20px;
    width: 15%;
    height: 50px;
}

.portfolio button:hover {
    color: azure;
    background-color: #1f7a42;
}

.mailto {
    text-decoration: none;
    color: #ba2222;
}

.mailto:hover {
    color: #1f7a42;
}

textarea {
    resize: none;
}

.contact button {
    color: azure;
    background-color: #5CBB81;
    margin-top: 10px;
    width: 35%;
    height: 50px;
}

.contact button:hover {
    color: azure;
    background-color: #1f7a42;
}

.footer {
    background-color: black;
}

.services-icon {
    border: 1px solid #5CBB81;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 20px;
    background-color: #5CBB81;
}

.services-icon i {
    font-size: 35px;
    color: #ffffff;
}
.card{
    background-color: rgb(208, 189, 189);
}
.card:hover{
background-color: #5CBB81;
color: azure;
}

.card:hover .services-icon{
    background-color: azure;
    transition: ease 1s;
}

.card:hover .services-icon i{
    color: #5CBB81;
}

.port:hover{
    box-shadow: 0 4px 8px 0 #1b3b27, 0 6px 20px 0 #1b3b27;
    transform: scale(1.03);
}



@media (max-width: 991px) {
    a:hover:after {
        display: none;
    }
    .text-1 {
        font-size: 24px;
    }
    .text-2 {
        font-size: 60px;
    }
    .text-3 {
        font-size: 35px;
    }
    #col button{
        width: 45%;
    }
}
@media (max-width: 961px){
.text-2 {
    font-size: 48px;
}
.text-3 {
    font-size: 25px;
}
#col {
    padding-left: 80px;
    padding-top: 120px;
}
}

    @media (max-width: 774px){
        .text-2 {
            font-size: 47px;
        }
        }

        @media (max-width: 767px){
            #cl{
                background-position: center;
            }
            #col {
                    padding-left: 0px;
                    padding-top: 30px;
                    text-align: center;
                }
                #col button {
                    width: 30%;
                }
                .text-1 {
                    font-size: 35px;
                }
                .text-2 {
                    font-size: 70px;
                }
                .text-3 {
                    font-size: 30px;
                }
            }
        
            @media (max-width: 774px){
                .text-1 {
                    font-size: 30px;
                }
                .text-2 {
                    font-size: 60px;
                }
                }
            
                @media (max-width: 774px){
                    .text-1 {
                        font-size: 25px;
                    }
                    .text-2 {
                        font-size: 50px;
                    }
                    .text-3 {
                        font-size: 25px;
                    }
                    #col {
                        padding-top: 0px;
                    }
                    #col button {
                        width: 45%;
                    }
                    }
                    @media (max-width: 350px){
                    .text-2 {
                        font-size: 45px;
                    }
                }

@media (max-width: 450px){
    .port{
        width: 300px;
    }
}

@media (max-width: 345px){
    .port{
        width: 200px;
    }
}

@media (max-width: 842px){
    .port{
        width: 200px;
    }
}
@media (max-width: 842px){
.about button {
    width: 25%;
}
}

@media (max-width: 505px){
    .about button {
        width: 35%;
    }
    }

    @media (max-width: 361px){
        .about button {
            width: 45%;
        }
        }

        @media (max-width: 1199px){
            .port{
                width: 300px;
            }
        }
        @media (max-width: 640px){
        .portfolio button {
            width: 30%;
        }
        }
        @media (max-width: 640px){
        .contact button{
            width: 55%;
        }
    }

    @media (max-width: 382px){
        .contact button{
            width: 75%;
        }
    }

    @media (max-width: 350px){
        .port{
            width: 200px;
        }
    }

    @media (min-width: 1200px){
.col-xl-3 {
    flex: 1 0 auto;
    width: 25%;
}
    }